@rendermode InteractiveServer

<nav>
    <FluentNavMenu Width="250" Collapsible="true" Title="Custom navigation menu">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())">Dashboard</FluentNavLink>
        <FluentNavLink Href="/environments" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.ServerMultiple())">Environments</FluentNavLink>
        <FluentNavLink Href="/managed-identities" Match="NavLinkMatch.All" Icon="@Icon.FromImageUrl("/images/home.svg")">Identities</FluentNavLink>
        <FluentNavLink Href="/highlighter" Match="NavLinkMatch.All" Icon="@Icon.FromImageUrl("/images/home.svg")" IconColor="Color.Accent">Highlighter</FluentNavLink>
    </FluentNavMenu>
</nav>